  .fadeOut {
    transform: translate3d(0, 0px, 0);
    animation: fadeOut 0.9s forwards;
    opacity:1;
  }
  @keyframes fadeOut {
    to{
      transform: initial;
      opacity: 0;
      animation: fadeOut ease-in 0s alternate 0.3s forwards;
    }
  }

  .fadeLeft {
    transform: translate3d(-30px, 0px, 0);
    animation: fadeLeft 0.9s forwards;
    opacity:0;

  }
  @keyframes fadeLeft {
    to{
      transform: initial;
      opacity: 1;
      animation: fadeLeft ease-in 0s alternate 0.3s forwards;
    }
  }
